@page "/lifecycleeventsindex"

<h3>LifeCycleEventsIndexComponent</h3>

<LifeCycleEventsChildComponent></LifeCycleEventsChildComponent>

<br />
<br />

<button class="btn" @onclick="ClickMe">ClickMe</button>

@code {


    // The first three methods called twice in first established
    // because frist send request then recieve response
    // rhe signalR established and the recieve response again

    // Browser ========== Req ==========> Server
    // Browser <========== Res =========== Server
    // Browser ----------- SignalR -----------> Server
    // Browser <========== Res =========== Server

    //

    // 1
    public override Task SetParametersAsync(ParameterView parameters)
    {
        return base.SetParametersAsync(parameters);
    }

    // 2
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    // 3
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    /////////////////////////////////////////

    // 7
    protected override bool ShouldRender()
    {
        return base.ShouldRender();
    }

    // 8
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

    private void ClickMe()
    {

    }
}
