<h3>LifeCycleEventsChildComponent</h3>

@code {
    // 4
    public override Task SetParametersAsync(ParameterView parameters)
    {
        return base.SetParametersAsync(parameters);
    }

    // 5
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    // 6
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    /////////////////////////////////////////

    // 9
    protected override bool ShouldRender()
    {
        return base.ShouldRender();
    }
     //10
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
}
