@page "/randerfragment"

<h3>RanderFragmentComponent</h3>

<br />
<br />

<FeildComponent Label="Email">
    <Control>
        <input class="input" type="text" placeholder="Name">
    </Control>
</FeildComponent>


<FeildComponent Label="Title">
    <Control>
        <input class="input" type="text" placeholder="Title">
    </Control>
</FeildComponent>

<FeildComponent Label="Email">
    <Control>
        <input class="input" type="email" placeholder="Recipient email">
    </Control>
</FeildComponent>

@code {

}
