@page "/FormsAndValidationIndex"

@using System.ComponentModel.DataAnnotations

<h3>FormsAndValidationIndexComponent</h3>

<EditForm Model="person" OnInvalidSubmit="ValidateFormSuubmitted">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <label>
        First Name : <br />
        <InputText id="fname" @bind-Value="@person.FirstName"></InputText>
    </label>
    <br />
    <br />

    <label>
        Last Name : <br />
        <InputText id="lname" @bind-Value="@person.LastName"></InputText>
    </label>
    <br />
    <br />

    <label>
        Employee Number : <br />
        <InputNumber id="emp_number" @bind-Value="@person.EmployeeNumber"></InputNumber>
    </label>
    <br />
    <br />

    <label>
        Email : <br />
        <InputText id="email" @bind-Value="@person.Email"></InputText>
    </label>
    <br />
    <br />

    <input type="submit" value="submit" />
</EditForm>

@code {

    Person person = new Person();

    private void ValidateFormSuubmitted()
    {

    }

    class Person
    {
        [Required]
        [StringLength(100)]
        public string FirstName { get; set; }

        [Required]
        [StringLength(100)]
        public string LastName { get; set; }

        [Required]
        [Range(1, 1000)]
        public int EmployeeNumber { get; set; }

        [Required]
        [EmailAddress]
        public string Email { get; set; }
    }

}
